setlist {
  color: black;
  width: 100%;
  margin: 1em;
  background-color: #a9b9c9;
}
heading {
  color: black;
  font-size: 30px;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #6b9faf;
}
html,
body {
  background-color: #d6efff;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}
heading,
artist,
title,
genre,
year {
  display: block;
}
title {
  background-color: #a9b9c9;
  font-size: 18px;
  font-weight: bold;
}
